<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>aboutus</title>
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../assets/bootstrap/css/content.min.css" />
		<script type="text/javascript" src="../assets/bootstrap/js/jquery-1.11.1.min.js" ></script>
		<script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js" ></script>
		<link rel="stylesheet" href="style.css"/>
		<!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <style type="text/css">
		    .bg-div {
		        position: fixed;
		        top: 0;
		        left: 0;
		        width: 100%;
		        height: 100%;
		        background-color: rgba(0,0,0,.5);
		        z-index: 50;
		    }
		
		    .body-static {
		        overflow: hidden !important;
		    }
		
		    .bg-div.hide {
		        display: none;
		    }
		</style>
		
	</head>
	<body>
		<!--
        	作者：umr995@163.com
        	时间：2018-01-12
        	描述：导航栏
        -->
        	<nav class="navbar navbar-default navbar-fixed-top u-navbar">
			<div class="container">
				<div class="row">					
					<div class="navbar-header">			
						<a class="navbar-brand" href="aboutus.html">					
							<div class="logo-pc-div app-none">
								<img src="../assets/img/logo.PNG" style="margin-left: 12px;"/>
							</div>
						</a>
					</div><!--navbar-header结束-->
					
					<div class="navbar-collapse collapse navbar-right" style="height: auto;">
						<!-- Main navigation -->
						<ul class="nav navbar-nav">
							<li><a href="aboutus.html">关于我们</a></li>
							<li><a href="health.html">途欢健康</a></li>
							<li><a href="corevalue.html">价值聚焦</a></li>
							<li><a href="contactus.html">联系我们</a></li>
						</ul>

						<!--下载-->
						<form id="downappform" class="navbar-form navbar-right" style="margin-right:0;">
							<a class="pc-none" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tuhuan.health">下载途欢健康</a>
							<a class="app-none memberzhuc model-down" href="javascript:;" data-toggle="modal" data-target=".bs-example-modal-sm">下载途欢健康</a>
						</form>
					</div>
					<!--导航栏结束-->
				</div>
				<!--row结束-->
			</div>
			<!--container结束-->
		</nav>
		
		<!--
        	作者：umr995@163.com
        	时间：2018-01-12
        	描述：轮播图
        -->
        <div class="container-fluid" class="ass">
        	<div class="carousel slide" id="carousel-example-generic" class="carousel slide" dataride="carousel">
        		
        		<ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                
                </ol>
       
        <div class="carousel-inner" role="listbox">
        <div class="item active">
        <img src="../assets/img/6_about-us-banner-2.jpg" alt=". . . ">
        <div class="carousel-caption">
        <h1>连接您与复杂医学世界的桥梁</h1>
        <p>Getting Access To Better Quality Health Care</p>
</div>
</div>
       <div class="item">
       <img src="../assets/img/7_about-us-banner-2x.jpg" alt=". . . ">
       <div class="carousel-caption">
       <h1>人生旅途&nbsp;欢悦同行</h1>
        <p>To Health To Happiness</p>
</div>
</div>
</div>

<a class="left carousel-control" href="#carousel-example-generic"
role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic"
role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>

          <!--
          	作者：umr995@163.com
          	时间：2018-01-12
          	描述：介绍
          -->
          <br />
          <br />
        <div class="container">
        	<div class="row">
        		<h3 align="center">源自医疗、助力医疗、根植医疗</h3>
        		<p class="line"></p>

        		
        		
        		
        		<p class="text-center">途欢，以创新科技驱动，以绝对的医学专业为前提和基石，将移动互联网、数据技术应用于健康领域</p>
        		<p class="text-center">用科技，改善医疗服务的效率和连续性；用科技，让优质医疗资源惠及更多的家庭；用科技，让更多的人受惠于医疗保健的预防价值，而不只是“因病治疗”</p>
        		<p class="text-center">途欢，帮助您获得更便捷的医疗健康服务与更优质的健康维护方案</p>
        	</div>
        </div>
        
        <!--
        	作者：umr995@163.com
        	时间：2018-01-12
        	描述：图
        -->
        <br />
        <br />
        <br />
        <div class="container">
        	<div class="row">
        		<div class="col-md-4">
        			<img src="../assets/img/huipu.PNG"/>
        		</div>
        		<div class="col-md-4">
        			<img src="../assets/img/cx.PNG"/>
        		</div>
        		<div class="col-md-4">
        			<img src="../assets/img/cg.PNG"/>
        		</div>
        	</div>
        </div>
        
        <!--
        	作者：umr995@163.com
        	时间：2018-01-12
        	描述：zi
        -->
        <br />
        <br />
        <br />
        <div class="container">
        	<div class="row">
        		<h3 align="center">途欢创始团队</h3>
        		<p class="line"></p>

        		
        		
        		
        		<p class="text-center">公司核心团队成员均来自临床医学、医疗健康服务以及数字科技领域</p>
        	</div>
        </div>
        <br />
        		<br />
        		<br />
        		
        		<!--
                	作者：umr995@163.com
                	时间：2018-01-12
                	描述：创始团队
                -->
                <!--<div class="container">
                	<div class="row">
                		<div class="col-md-6">
                			<img class="img-responsive" src="../assets/img/13_yanglin.jpg" />
                			<br />
                			<h4 class="text-center">阳琳</h4>
                			
                			<p class="text-center">董事长 & CEO</p>
                		</div>
                		<div class="col-md-6">
                			<img class="img-responsive" src="../assets/img/14_yubo.jpg" />
                			<br />
                			<h4 class="text-center">于波</h4>
                			
                			<p class="text-center">首席医疗官</p>
                		</div>
                	</div>
                </div>-->
                 <div class="i-item-con itme-con">
        <div class="container">
            <div class="row">
                <div class="col-small-12 col-xs-6">
                    <div class="team-person">
                        <div>
                            <img src="../assets/img/13_yanglin.jpg" class="img-responsive" />
                            <div class="i-item-con-div">
                                <h4>阳琳</h4>
                                <p class="f12 i-item-con-text">董事长 & CEO</p>
                            </div>
                        </div>
                        <div class="slideup_info">
                            <div class="slideup_info_bg">
                                <div>
                                    <div class="tcenter"><p><b>阳琳</b></p><p style="font-size: 12px; color:#aaa;margin-top:5%;"> 董事长 & CEO</p></div>
                                    <div class="leader-line"></div>
                                    <ul>
                                        <li>毕业于重庆医科大学临床医学系</li>
                                        <li>西南财经大学硕士</li>
                                        <li>曾供职于四川省人民医院</li>
                                        <li>同时拥有近10年企业经营管理经验</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-small-12 col-xs-6">
                    <div class="team-person" id="team-person">
                        <div>
                            <img src="../assets/img/14_yubo.jpg" class="img-responsive" />
                            <div class="i-item-con-div">
                                <h4>于波</h4>
                                <p class="f12 i-item-con-text">首席医疗官</p>
                            </div>
                        </div>
                        <div class="slideup_info">
                            <div class="slideup_info_bg">
                                <div>
                                    <div class="tcenter"><p><b>于波</b></p><p style="font-size: 12px; color:#aaa;margin-top:5%;">首席医疗官</p></div>
                                    <div class="leader-line"></div>
                                    <ul>
                                        <li>毕业于华西医科大学临床医学系</li>
                                        <li>拥有17年临床医疗经验</li>
                                        <li>曾供职于四川省人民医院</li>
                                        <li>美国克林顿基金会HIV/AIDS(中国)</li>
                                        <li>美国疾病控制中心(GAP)</li>
                                        <li>世界卫生组织(WHO)认证培训师</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
            </div>
        </div>
    </div>

                
                <!--
                	作者：umr995@163.com
                	时间：2018-01-12
                	描述：途欢优质的医疗服务团队
                -->
        <br />
        <br />
        <br />
        <div class="container">
        	<div class="row">
        		<h3 align="center">途欢优质的医疗服务团队</h3>
        		<p class="line"></p>
        	</div>
        </div>
        
        <!--
        	作者：umr995@163.com
        	时间：2018-01-12
        	描述：轮播图
        -->
        <br />
        <br />
        <div class="container" class="ass">
        	<div class="row">
            <div class=" app-none" style="position:relative;">
                <div class="mb-describe hbox box-v-center">
                    <div class="col-md-8" style="padding:0">
                        <div id="mb-ibox" class="mb-ibox ">
                            <a class="cur">
                                <div class=" animated ShowBgUp"><img src="../assets/img/15_zhuanshuguwen1.jpg" class="img-responsive"></div>
                            </a>
                            <!--<a>
                                <div class=" animated ShowBgUp"><img src="../assets/img/16_zhuanshuguwen1.jpg" class="img-responsive"></div>
                            </a>
                            <a>
                                <div class=" animated ShowBgUp"><img src="../assets/img/17_zhuanshuguwen1.jpg" class="img-responsive"></div>
                            </a>
                            <a>
                                <div class=" animated ShowBgUp"><img src="../assets/img/18_zhuanshuguwen1.jpg" class="img-responsive"></div>
                            </a>-->
                        </div>
                    </div>
                    <div id="mb-itxt" class="col-md-4">
                        <div style="display: block;" class="slide-itxt">
                            <div class="kePublic-rightdiv">
                                <div class="jiankangguwen-ico animated animateUp delay_1"></div>
                                <div class="tuandui-title">
                                    <div class="animated animateUp delay_2">个人专属健康顾问</div>
                                </div>
                                <div class="kePublic-cont-info animated animateUp delay_3">您与医生间的纽带工作者，拥有多年临床及健康管理工作经验，令您与医生的沟通更有质量，帮助您获得更精准的医疗服务</div>
                            </div>
                        </div>
                        <div style="display: none;" class="slide-itxt">
                            <div class="kePublic-rightdiv">
                                <div class="xietiaozhuanyuan-ico  animated animateUp delay_1"></div>
                                <div class="tuandui-title">
                                    <div class="animated animateUp delay_2">医疗协调专员</div>
                                </div>
                                <div class="kePublic-cont-info animated animateUp delay_3">您与家人的医疗服务协调顾问，拥有多年临床工作背景和分诊经验，给予您和家人必要的就医指导，帮助您选择适需的科室就医、获得专科医生线上预诊服务，或为您连接您所需的医疗服务</div>
                            </div>
                        </div>
                        <div style="display: none;" class="slide-itxt">
                            <div class="kePublic-rightdiv">
                                <div class="jiatingyisheng-ico  animated animateUp delay_1"></div>
                                <div class="tuandui-title">
                                    <div class="animated animateUp delay_2">途欢家庭医生</div>
                                </div>
                                <div class="kePublic-cont-info animated animateUp delay_3">您与家人的健康守门人。解决您与家庭日常大多数的医疗需求及慢性疾病稳定期的治疗、随访与管理。在途欢健康管理平台与健康顾问支持下，协助您完成更精准，更有价值的诊疗</div>
                            </div>
                        </div>
                        <div style="display: none;" class="slide-itxt">
                            <div class="kePublic-rightdiv">
                                <div class="tuhuandaifu-ico  animated animateUp delay_1"></div>
                                <div class="tuandui-title">
                                    <div class="animated animateUp delay_2">途欢大夫</div>
                                </div>
                                <div class="kePublic-cont-info animated animateUp delay_3">如您与家人患有慢性疾病，定期为您连接三甲医院专科医生，并评估指导您的诊疗方案。当家庭发生临床医疗需求，将为您推荐并连接最适宜的医生与专家，确保获得更优的医疗解决方案</div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul id="mb-inav" class="mb-inav-about ">
                    <li>
                        <div class="item-li cur">
                        </div>
                    </li>
                    <li>
                        <div class="item-li">
                        </div>
                    </li>
                    <li>
                        <div class="item-li">
                        </div>
                    </li>
                    <li>
                        <div class="item-li">
                        </div>
                    </li>
                </ul>
            </div>
            
            
            
            
            <!--
            	作者：umr995@163.com
            	时间：2018-01-12
            	描述：zi
            -->
        <br />
        <br />
        <br />
        <div class="container">
        	<div class="row">
        		<h3 align="center">途欢的愿景</h3>
        		<p class="line"></p>
        		<p class="text-center">永怀专业信念，以前瞻视野，定义医疗健康新未来</p>
        	</div>
        </div>
        
        <!--
        	作者：umr995@163.com
        	时间：2018-01-12
        	描述：图片
        -->
        <br />
        <br />
        <br />
         <div class=" app-none" class="css">
        <div style="background: url(../assets/img/23_about-yuanjing.jpg) 50% 0%; height: 420px; width: 1928px; margin-left: -368px;">
            <div class="">
                <div class="row">
                    <div class="tuhuanyuanjing" style="text-align: center; color: rgba(255, 255, 255, 0.8)">
                        <figure class="thyj-logo-icon"></figure>
                        <img src="../assets/img/2_icon2.png" />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        
                        <p class="text-white" style="margin-top:0%;">途欢健康，协同于现有的医疗服务体系，致力于构建更精准的医疗保健模式</p>
                        <p class="text-white">途欢健康，以信息技术为基础，移动互联网平台为工具、以三甲医院医生、社区医院医生、医生助理组成的"责任医疗团队"</p>
                        <p>为大众提供基于个体与疾病的主动管理式医疗服务</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pc-none">
        <div class="hbox box-v-center" style="background-image: url(url(../assets/img/2_icon2.png));  background-size: cover !important;z-index: 0; background-position: 50% 50% !important;    height: 260px !important;">
            <div class="container">
                <div class="row">
                    <div class="tuhuanyuanjing-app">
                        <figure class="thyj-logo-icon"></figure>
                        <p class="text-white" style="margin-top: 3.2%; line-height: 24px;">途欢健康，协同于现有的医疗服务体系，致力于构建更精准的医疗保健模式。途欢健康，以信息技术为基础，移动互联网平台为工具、以三甲医院医生、社区医院医生、医生助理组成的"责任医疗团队"，为大众提供基于个体与疾病的主动管理式医疗服务。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
    
     <!-- footer begin -->
     <div style="margin-left: -368px;">
		<footer class="sho">
		    <div class="container">
		        <div class="row">
		            <div class="ac-gf-footer-legal">
		                <div class="footer-legal-links">
		                    <a href="company.html">公司动态</a>
		                    <div class="bor-line"></div>
		                    <a href="joinus.html">加入我们</a>
		                    <div class="bor-line"></div>
		                    <a href="customres.html">企业用户</a>
		                    <div class="bor-line"></div>
		                    <a href="useragreement.html">用户使用协议</a>
		                </div>
		                <div class="footer-beizhu">Copyright &copy; 2018 RNG组所有</div>
		            </div>
		            
		            <!--底部手機-->
		            <div class="footer-weixin">
		                <div class="bt-example-popover">
		                    <div class="popover top">
		                        <div class="arrow"></div>
		                        <div style="padding: 7px">
		                            <figure class="erweima-logo-icon"></figure>
		                        </div>
		                    </div>
		                </div>
		                <i style="font-size: 40px;" class="icon iconfont icon-weixin-copy"></i>
		            </div>
		            
		            <!--底部微信-->
		            <div class="footer-weixin">
		                <div class="bt-example-popover">
		                    <div class="popover top">
		                        <div class="arrow"></div>
		                        <div style="padding: 7px">
		                            <figure class="erweimaapp-logo-icon"></figure>
		                        </div>
		                    </div>
		                </div>
		                <i style="font-size: 40px;" class="icon iconfont icon-shouji"></i>
		            </div>
		        </div>
		    </div>
		</footer>
		</div>
		<!-- footer end -->

	</body>
</html>
