<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
		<title>bootstrap</title>
		<!--		引入bootstrap 的 css文件 里面定义了很多的css样式规则-->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" /><br />
		<link rel="stylesheet" href="../assets/bootstrap/css/content.min.css" />
		<link rel="stylesheet" href="../assets/bootstrap/css/style.css" />
		
		<!--图标-->
		<link type="text/css" rel="stylesheet"href="../assets/bootstrap/css/demo.css" />
		<link type="text/css" rel="stylesheet"href="../assets/bootstrap/css/iconfont.css" />
		
		<!--bootstrap的js 功能是  通过jquery框架实现的,所以需要先引入该框架-->
		<script type="text/javascript" src="../assets/bootstrap/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
		
	</head>

	<body>
		<!--导航栏开始-->
		<nav class="navbar navbar-default navbar-fixed-top u-navbar">
			<div class="container">
				<div class="row">
					<div class="navbar-header">
						<a class="navbar-brand" href="aboutus.html">
							<div class="logo-pc-div app-none">
								<img src="../assets/image/logo.PNG" style="margin-left: 12px;" />
							</div>
						</a>
					</div>
					<!--navbar-header结束-->

					<div class="navbar-collapse  navbar-right" style="height: auto;">
						<!-- Main navigation -->
						<ul class="nav navbar-nav">
							<li><a href="aboutus.html">关于我们</a></li>
							<li><a href="health.html">途欢健康</a></li>
							<li><a href="corevalue.html">价值聚焦</a></li>
							<li><a href="contactus.html">联系我们</a></li>
						</ul>

						<!--下载-->
						<form id="downappform" class="navbar-form navbar-right" style="margin-right:0;">
							<a class="pc-none" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tuhuan.health">下载途欢健康</a>
							<a class="app-none memberzhuc model-down" href="javascript:;" data-toggle="modal" data-target=".bs-example-modal-sm">下载途欢健康</a>
						</form>
					</div>
					<!--导航栏结束-->
				</div>
				<!--row结束-->
			</div>
			<!--container结束-->
		</nav>
		<!--导航栏结束-->

		<!--http://www.tuhuanjk/temples/default/img/companydynamics-banner-2x.jpg-->
		<!--global begin-->
		<div class="global" style="min-height: 750px;">
			
			<!--背景图-->
			<div class="company-dynamics-banner">
				<div class="container">
					<div class="row" style="position: relative;">
						<img src="../assets/image/company-dy-font-banner.png" class="img-responsive" id="myimg" />
					</div>
				</div>
			</div>
			
			<!--公司动态-->
			<div class="container">
				<div class="row">
					<div class="company_dynamics">
						<dl>
							<dt>
								<span>09-05</span>
								<span>2017</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color: #333333;" href="#">
										<b>【途欢动态】途欢参加2017成都医学年会，助力家庭医生蓬勃发展</b>
									</a>
								</h3>
								<div class="company-cont-info">
									<img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p>2017年8月26日，由成都医学会主办，成都高新区合作社区卫生服务中心、成都市温江区柳城社区卫生服务中心协办的“成都医学会全科医学与社区卫生专委会成立大会暨学术年会”在成都市天使宾馆隆重开幕。</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
						
						<dl>
							<dt>
								<span>12-15</span>
								<span>2016</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color:#333;" href="#">
										<b>【途欢动态】中国首届互联网远程医疗论坛：互联网创新依然是焦点</b>
									</a>
								</h3>
								<div class="company-cont-info">
					                <img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p> 2016年12月9-10日，中国首届互联网医院与远程医疗论坛在上海顺利拉开帷幕。</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
						
						<dl>
							<dt>
								<span>12-05</span>
								<span>2016</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color:#333;" href="#">
										<b>【途欢动态】2016四川全科学术年会完美收官</b>
									</a>
								</h3>
								<div class="company-cont-info">
					                <img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p> 2016年12月2日，“2016四川全科学术年会”于绵阳如火如荼的举行，互联网+基础医疗备受瞩目。</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
						
						<dl>
							<dt><span>10-24</span>
								<span>2016</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color:#333;" href="#">
										<b>【途欢健康APP上线】健康有更多可能</b>
									</a>
								</h3>
								<div class="company-cont-info">
					                <img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p>无移动，不未来。</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
					
						<dl>
							<dt>
								<span>08-22</span>
								<span>2016</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color:#333;" href="#">
										<b>【行业资讯】习近平：把人民健康放在优先发展的战略地位</b>
									</a>
								</h3>
								<div class="company-cont-info">
					                <img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p> 8月19日至20日，全国卫生与健康大会在北京举行。中共中央总书记、国家主席、中央军委主席习近平出席会议并发表重要讲话。</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
						
						<dl>
							<dt>
								<span>08-02</span>
								<span>2016</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color:#333;" href="#">
										<b>【行业资讯】签约家庭医生，你准备好了吗？</b>
									</a>
								</h3>
								<div class="company-cont-info">
					                                <img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p>2016年6月6日，国务院医改办等6部门联合印发《关于推进家庭医生签约服务的指导意见》（以下简称《指导意见》）。《指导意见》提出，到2020年，力争将家庭医生签约服务扩大到全人群，形成与居民长期稳定的契约服务关系，基本实现家庭医生签约服务制度全覆盖。</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
						
						<dl>
							<dt>
								<span>06-15</span>
								<span>2016</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color:#333;" href="#">
										<b>【途欢动态】父爱续航，健康传承——途欢健康</b>
									</a>
								</h3>
								<div class="company-cont-info">
					                <img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p>父亲是我们一生的守护者。途欢臻情献礼，让父爱续航。</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
						
						<dl>
							<dt>
								<span>05-17</span>
								<span>2016</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color:#333;" href="#">
										<b>【途欢动态】美国远程医疗协会2016年年会侧记</b>
									</a>
								</h3>
								<div class="company-cont-info">
					                <img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p>美国东部时间5月16日，美国远程医疗协会2016年年会（简称ATA2016）在美国明尼苏达州国际会议中心拉开序幕。途欢医疗健康科技有限公司董事长兼CEO阳琳，亲赴明尼阿波尼斯市，参加了本次ATA年会。</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
						
						<dl>
							<dt>
								<span>03-06</span>
								<span>2016</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color:#333;" href="#">
										<b>【途欢两会速递】医疗变革—听总理的声音</b>
									</a>
								</h3>
								<div class="company-cont-info">
					                <img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p>3月5日，第十二届全国人民代表大会第四次会议在北京人民大会堂开幕。国务院总理李克强作政府工作报告。</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
						
						<dl>
							<dt>
								<span>01-10</span>
								<span>2016</span>
							</dt>
							<dd>
								<h3 style="font-size: 20px; margin: 0;">
									<a style="color:#333;" href="#">
										<b>【途欢动态】迎新年—途欢健康2.0版上线啦！</b>
									</a>
								</h3>
								<div class="company-cont-info">
					                <img class='img-responsive' style='max-height:320px; width:100%;' src='/images/defaultpic.gif'/>
									<p>全新界面，全新体验。让你在使用过程中更畅快更舒适！</p>
									<a class="write_more" href="#">阅读更多 ></a>
								</div>
							</dd>
						</dl>
					
						<nav>
	                 	   <ul class="pagination">
	        			        <li><a>首页</a></li>
	        			        <li><a>上一页</a></li>
	        			        <li class="active"><a>1</a></li>
	        			        <li><a>下一页</a></li>
	        			        <li><a>末页</a></li>
							</ul>
              		 	</nav>

					</div>
				</div>
			</div>
		</div>
		<!--global end-->
		

		 <!-- footer begin -->
		<div style="margin-left: 0px;">
		<footer class="sho">
		    <div class="container">
		        <div class="row">
		            <div class="ac-gf-footer-legal">
		                <div class="footer-legal-links">
		                    <a href="company.html">公司动态</a>
		                    <div class="bor-line"></div>
		                    <a href="joinus.html">加入我们</a>
		                    <div class="bor-line"></div>
		                    <a href="customres.html">企业用户</a>
		                    <div class="bor-line"></div>
		                    <a href="useragreement.html">用户使用协议</a>
		                </div>
		                <div class="footer-beizhu">Copyright &copy; 2018 RNG组所有</div>
		            </div>
		            
		            <!--底部手機-->
		            <div class="footer-weixin">
		                <div class="bt-example-popover">
		                    <div class="popover top">
		                        <div class="arrow"></div>
		                        <div style="padding: 7px">
		                            <figure class="erweima-logo-icon"></figure>
		                        </div>
		                    </div>
		                </div>
		                <i style="font-size: 40px;" class="icon iconfont icon-weixin-copy"></i>
		            </div>
		            
		            <!--底部微信-->
		            <div class="footer-weixin">
		                <div class="bt-example-popover">
		                    <div class="popover top">
		                        <div class="arrow"></div>
		                        <div style="padding: 7px">
		                            <figure class="erweimaapp-logo-icon"></figure>
		                        </div>
		                    </div>
		                </div>
		                <i style="font-size: 40px;" class="icon iconfont icon-shouji"></i>
		            </div>
		        </div>
		    </div>
		</footer>
		<!-- footer end -->
		
		<!-- 弹出微信框  -->
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		    <div class="modal-dialog modal-sm">
		        <div class="modal-content" style="height: 580px;">
		            <div style="width:580px; display: inline-block;">
		                <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		                </div>
		                <div class="modal-body">
		                    <figure class="pop-erweima">
		                        <img src="../assets/image/erweima-app.svg" width="300" height="300" style="padding: 20px; border: 1px solid rgba(170, 170, 170, 0.3);">
		                    </figure>
		                    
		                    <div class="pop-erweima-text">
		                        <p>请使用微信扫一扫</p>
		                        <p>下载“途欢健康”App注册登录</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="bg-div hide">

		</div>


		
	</body>

</html>