<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
		<title>bootstrap</title>
		<!--		引入bootstrap 的 css文件 里面定义了很多的css样式规则-->
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" /><br />
		<link rel="stylesheet" href="../assets/bootstrap/css/content.min.css" />
		<link rel="stylesheet" href="../assets/bootstrap/css/style.css" />
		<!--bootstrap的js 功能是  通过jquery框架实现的,所以需要先引入该框架-->
		<script type="text/javascript" src="../assets/bootstrap/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
		<!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

		<!-- 弹出微信框  /-->

		<style type="text/css">
			

		</style>
		
		<script type="text/javascript">
		
			 $(function () {
	            var Accordion = function (el, multiple) {
	                this.el = el || {};
	                this.multiple = multiple || false;
	
	                // Variables privadas
	                var links = this.el.find('.link');
	                // Evento
	                links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown);
	            }

	            Accordion.prototype.dropdown = function (e) {
	                var $el = e.data.el;
	                $this = $(this),
	                $next = $this.next();
	
	                $next.slideToggle();
	                $this.parent().toggleClass('open');
	
	                if (!e.data.multiple) {
	                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
	                };
	            }

	            var accordion = new Accordion($('#accordion'), false);
	            //$("li div.link").mouseenter(function () {
	            //    $(".glyphicon").show();
	            //}).mouseleave(function () {
	            //    $(".glyphicon").hide();
	            //});

	            var itemli = $("#accordion li");
	            itemli.hover(function () {
	                $(this).addClass("hover").siblings().removeClass("hover");
	            }).hover(function () {
	            }, function () {
	                $(this).removeClass("hover");
	            });
       		 });
		</script>


	</head>

	<body>
		<!--导航栏开始-->
		<nav class="navbar navbar-default navbar-fixed-top u-navbar">
			<div class="container">
				<div class="row">

					<div class="navbar-header">
						<a class="navbar-brand" href="aboutus.html">
							<div class="logo-pc-div app-none">
								<img src="../assets/image/logo.PNG" style="margin-left: 12px;" />
							</div>
						</a>
					</div>
					<!--navbar-header结束-->

					<div class="navbar-collapse  navbar-right" style="height: auto;">
						<!-- Main navigation -->
						<ul class="nav navbar-nav">
							<li><a href="aboutus.html">关于我们</a></li>
							<li><a href="health.html">途欢健康</a></li>
							<li><a href="corevalue.html">价值聚焦</a></li>
							<li><a href="contactus.html">联系我们</a></li>
						</ul>

						<!--下载-->
						<form id="downappform" class="navbar-form navbar-right" style="margin-right:0;">
							<a class="pc-none" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tuhuan.health">下载途欢健康</a>
							<a class="app-none memberzhuc model-down" href="javascript:;" data-toggle="modal" data-target=".bs-example-modal-sm">下载途欢健康</a>
						</form>
					</div>
					<!--导航栏结束-->
				</div>
				<!--row结束-->
			</div>
			<!--container结束-->
		</nav>
		<!--导航栏结束-->

		<div class="global" style="min-height: 839px;">
			<div class="join-us-banner">
				<div class="container">
					<div class="row" style="position: relative;">
						<img src="../assets/image/join-us-font-banner.png" class="img-responsive" id="myimgleft" />
					</div>
				</div>
			</div>
			<!--join-us-banner结束-->

			<div class="container">
				<div class="row">
					<div class="table" style="margin: 80px 0">
                   
                   <div class="thead">
                        <ul>
                            <li>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group" role="group">职位类别</div>
                                    <div class="btn-group tcenter" role="group"> 所属部门</div>
                                    <div class="btn-group tcenter" role="group">工作地点</div>
                                    <div class="btn-group tcenter" role="group">招聘人数</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--thead-->
                    
                    <div class="tbody">
                       		 <ul id="accordion">
								<li>
	                                <div class="link">
	                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
	                                        <div class="btn-group" role="group">
	                                            <span>自动化软件测试工程师</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	                                        </div>
	                                        <div class="btn-group tcenter" role="group">研发部</div>
	                                        <div class="btn-group tcenter" role="group"> 四川成都</div>
	                                        <div class="btn-group tcenter" role="group">1</div>
	                                    </div>
	                                </div>

									<!--link结束-->

									<div class="submenu" style="display: none;">
										<p class="title">岗位职责</p>
										<p>1.负责IOS/Android/Web系统版本的自动化压力测试,保证发布高质量的产品;
											<br /> 2.负责编写相关自动化测试脚本;
											<br /> 3.独立完成自动化测试任务执行、测试报告编写、提交跟踪软件缺陷;
											<br /> 4.负责终端产品的测试工作,包括测试分析/测试执行/测试跟踪，定期汇报项目进展情况;
											<br /> 5.对问题生命周期负责跟踪反馈,与相关部门有效沟通，协助问题解决;
											<br /> 6.进行终端产品的稳定性自动化测试,熟练掌握自动化测试工具/测试执行/测试分析;
											<br /> 7.进行终端产品的应用软件兼容性测试,熟练掌握兼容性测试工具/测试执行/测试分析;
											<br /> 8.进行终端产品的网络功能性测试,熟练掌握终端交互测试技巧。
										</p>

										<p class="title">任职要求</p>
										<p>1.计算机、软件工程、通信等相关专业本科（二本）及以上学历;
											<br /> 2.了解Android，IOS平台架构，3年以上相关工作经验;
											<br /> 3.有手机系统测试、白盒测试、 性能测试经验者优先;
											<br /> 4.具备移动终端应用的自动化测试经验，熟悉Uiautomato，MonkeyRunner UiAutomator Athrun Appium等测试工具中的一种或者两种,具有自动化测试工具开发经验者优先;
											<br /> 5.熟悉QTP和LoadRunner;
											<br /> 6.熟练掌握python或者JAVA语言,可编写脚本;
											<br /> 7.了解高通平台和Intel平台抓取LOG工具的使用,例如QXDM,QPST等.
										</p>

										<p class="title">优先条件</p>
										<p>无</p>

										<p class="title">简历投递方式</p>
										<p>请将简历投递至hr@sctuhuan.com</p>

										<a href="mailto:hr@sctuhuan.com" class="global-btn mtop40" style="width: 120px; height: 40px; line-height:40px;">申请职位</a>
									</div>
									<!--submenu结束-->
								</li>
								<li>
	                                <div class="link">
	                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
	                                        <div class="btn-group" role="group">
	                                            <span>Android研发主管</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	                                        </div>
	                                        <div class="btn-group tcenter" role="group">  研发部</div>
	                                        <div class="btn-group tcenter" role="group"> 四川成都</div>
	                                        <div class="btn-group tcenter" role="group">1</div>
	                                    </div>
	                                </div>
	                                <!--link结束-->
	                                
	                                <div class="submenu" style="display: none;">
									
	                                    <p class="title">岗位职责</p>
	                                    <p>1.负责基于Android的应用软件架构设计、开发和维护工作。
	                                    	<br />2.独立完成移动终端产品应用的功能模块开发； 
	                                    	<br />3.承担Android客户端的核心编码工作，解决开发过程中的技术问题； 
											<br />4.负责相关开发技术文档的编制、技术备案、软件版本管理；
											<br />5.配合后台工程师一起研讨技术实现方案，进行应用及系统整合。
	                                    </p>
										
	                                    <p class="title">任职要求</p>
	                                    <p>1.计算机类相关专业重点本科毕业，3年以上android应用开发经验；
	                                    	<br />2.熟练掌握Java编程，TCP/IP、HTTP/HTTPS等网络通讯协议 ；
											<br />3.熟悉AndroidOS体系结构，熟悉SDK开发、调试、优化工具；
											<br />4.熟悉Android应用开发框架及Activity生命周期、熟练进行Android   UI/Framework开发技能、熟练使用AndroidSDK、熟练使用SQLite数据库 ；
											<br />5.能独立开发高性能Android应用，熟练掌握Android平台UI设计，熟悉常用布局，熟悉相关的消息推送通知机制 ；
											<br />6.有良好的分析问题和解决问题的能力、良好的沟通能力和团队合作精神 。
										</p>
																			
	                                    <p class="title">优先条件</p>
	                                    <p>无</p>
										
										<p class="title">简历投递方式</p>
										<p>请将简历投递至hr@sctuhuan.com</p>
										
	                                    <a href="mailto:hr@sctuhuan.com" class="global-btn mtop40" style="width: 120px; height: 40px; line-height:40px;">申请职位</a>
	                                </div>
	                                <!--submenu结束-->
                                </li>
                            	<li>
	                                <div class="link">
	                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
	                                        <div class="btn-group" role="group">
	                                            <span>IOS研发主管</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	                                        </div>
	                                        <div class="btn-group tcenter" role="group">研发部</div>
	                                        <div class="btn-group tcenter" role="group"> 四川成都</div>
	                                        <div class="btn-group tcenter" role="group">3</div>
	                                    </div>
	                                </div>
	                                
	                                <div class="submenu" style="display: none;">
									
	                                    <p class="title">岗位职责</p>
	                                    <p>1.负责基于IOS的应用软件架构设计、开发和维护工作；
	                                    	<br />2.独立完成移动终端产品应用的功能模块开发； 
											<br />3.承担IOS客户端的核心编码工作，解决开发过程中的技术问题； 
											<br />4.负责相关开发技术文档的编制、技术备案、软件版本管理；
											<br />5.配合后台工程师一起研讨技术实现方案，进行应用及系统整合。
										</p>
										
	                                    <p class="title">任职要求</p>
	                                    <p>1.三年以上iOS开发经验，重点本科大学毕业及以上学历；
	                                    	<br />2.精通Objective-C、SWIFT，熟悉IOS系统的主要模块，熟练使用iPhoneSDK、XCODE、InterfaceBuilder等开发工具;
											<br />3.熟悉各种应用动态UI的开发;
											<br />4.对数据结构、基本算法熟练掌握，并具备基本的算法设计能力；
											<br />5.熟悉各种应用动态UI的开发,熟悉iPhone下网络通信机制，对Socket通信、TCP/IP和HTTP有较深刻的理解和经验；
											<br />6.熟悉SQLite数据库，及SQL语句编写;
											<br />7.具备良好的分析解决问题能力，能独立承担开发任务和有系统进度把控能力。
	                                    </p>
										
	                                    <p class="title">优先条件</p>
	                                    <p>无</p>
										
										<p class="title">简历投递方式</p>
										<p>请将简历投递至hr@sctuhuan.com</p>
										
	                                    <a href="mailto:hr@sctuhuan.com" class="global-btn mtop40" style="width: 120px; height: 40px; line-height:40px;">申请职位</a>
	                                </div>
                           		 </li>
                           		 
                          		<li>
	                                <div class="link">
	                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
	                                        <div class="btn-group" role="group">
	                                            <span>财务/会计</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	                                        </div>
	                                        <div class="btn-group tcenter" role="group"> 财务部</div>
	                                        <div class="btn-group tcenter" role="group"> 四川成都</div>
	                                        <div class="btn-group tcenter" role="group">1</div>
	                                    </div>
	                                </div>
	                                 <!--link结束-->
	                                 
	                                <div class="submenu" style="display: none;">
									
	                                    <p class="title">岗位职责</p>
	                                    <p>1.准确、及时完成帐务和结算工作，正确进行会计核算，填制审核会计凭证；
	                                    	<br />2.正确计算收入、费用和成本，负责编制公司月底、季度和年度财务报表，年度会计决算；
											<br />3.负责公司税金的计算、申报、解缴工作；
											<br />4.负责会计监督，审核原始凭证的合理性、合法性和真实性，审核费用发生的额度是否符合公司规定；
											<br />5.及时做好会计凭证、帐表、帐册等的收集、汇编归档及保管工作；
											<br />6.完成上级交付的其他工作任务。
	                                    </p>
										
	                                    <p class="title">任职要求</p>
	                                    <p>1.本科及以上学历，2年及以上工作经验，有IT、互联网行业从业经验，会计/财务管理相关专业；
	                                    	<br />2.持有会计证，具有会计中级职称，熟练使用办公软件及财务软件；
											<br />3.熟悉国家会计法规，了解税务法规和相关税收政策；
											<br />4.踏实敬业、负责严谨，原则性强，有良好职业操守。
	                                    </p>
										
	                                    <p class="title">优先条件</p>
	                                    <p>无</p>
										
										<p class="title">简历投递方式</p>
										<p>请将简历投递至hr@sctuhuan.com</p>
										
	                                    <a href="mailto:hr@sctuhuan.com" class="global-btn mtop40" style="width: 120px; height: 40px; line-height:40px;">申请职位</a>
	                                </div>
	                                <!--submenu结束-->
                          		</li>
                           		 
                           		<li>
	                                <div class="link">
	                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
	                                        <div class="btn-group" role="group">
	                                            <span>财务经理</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	                                        </div>
	                                        <div class="btn-group tcenter" role="group">财务部</div>
	                                        <div class="btn-group tcenter" role="group">四川成都</div>
	                                        <div class="btn-group tcenter" role="group">1</div>
	                                    </div>
	                                </div>
	                                
	                                 <!--link结束-->
	                                <div class="submenu" style="display: none;">
									
	                                    <p class="title">岗位职责</p>
	                                    <p>1、高层管理职位，协助决策层制定公司发展战略，负责其功能领域内短期及长期的公司决策和战略，对公司中长期目标的达成产生重要影响；
	                                    	<br />2、负责公司财政方面的业务和策略，包括会计管理、财务计划、财务程序、内部审计、财物、成本控制和投资研究分析；
											<br />3、负责公司财务管理及内部控制，根据公司业务发展的计划完成年度财务预算，并跟踪其执行情况；
											<br />4、制定、管理和实施公司的经济、财务标准和程序，以满足控制风险的要求；
											<br />5、分析并改进现有流程，不断提高资金的利用率和工作效率。
	                                    </p>
										
	                                    <p class="title">任职要求</p>
	                                    <p>1、会计或财务专业本科以上学历；
	                                    	<br />2、5年以上财务管理工作经验，并有互联网企业工作经验；
											<br />3、熟悉会计、审计、税务、财务管理、相关法律法规；
											<br />4、熟练掌握高级财务管理软件和办公软件；
											<br />5、出色的财务分析、融资和资金管理能力；
											<br />6、良好的组织、协调能力，良好的表达能力和团队合作精神。
											<br />7、有移动医疗行业或互联网企业工作经验优先考虑。
	                                    </p>
										
	                                    <p class="title">优先条件</p>
	                                    <p>无</p>
										
										<p class="title">简历投递方式</p>
										<p>请将简历投递至hr@sctuhuan.com</p>
										
	                                    <a href="mailto:hr@sctuhuan.com" class="global-btn mtop40" style="width: 120px; height: 40px; line-height:40px;">申请职位</a>
	                                </div>
	                                <!--submenu结束-->
                           		</li>
                            	<li>
	                                <div class="link">
	                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
	                                        <div class="btn-group" role="group">
	                                            <span>客服专员</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	                                        </div>
	                                        <div class="btn-group tcenter" role="group"> 客服部</div>
	                                        <div class="btn-group tcenter" role="group">四川成都</div>
	                                        <div class="btn-group tcenter" role="group">1</div>
	                                    </div>
	                                </div>
	                                 <!--link结束-->
	                                 
	                                <div class="submenu" style="display: none;">
									
	                                    <p class="title">岗位职责</p>
	                                    <p>1.通过电话、及时通讯工具、线上平台等、处理客户提出的问题并回复；
	                                    	<br />2.协调各个部门反馈处理结果并与客户沟通；
											<br />3.收集整理客户的常见问题和反馈意见；
											<br />4.维护客户资料，对客户进行帮助和管理；
											<br />5.完成上级交代的其他工作事宜。
	                                    </p>
										
	                                    <p class="title">任职要求</p>
	                                    <p>1.勤奋敬业、责任心强，思路清晰;
	                                    	<br />2.普通话标准，口齿伶俐，懂得消费者心理，语言表达能力强，擅于沟通;
											<br />3.头脑清晰，思维敏捷，有良好的销售服务意识，工作耐心细致;
											<br />4.性格好，有耐心及责任心，身体健康，能够长期稳定的干好工作;
											<br />5.有电话销售经验者、移动医疗服务、客户服务背景优先;
											<br />6.熟练使用办公软件，打字速度每分钟50字以上。
											<br />7.前期行政班，后期会有轮流倒班
	                                    </p>
										
	                                    <p class="title">优先条件</p>
	                                    <p>无</p>
										
										<p class="title">简历投递方式</p>
										<p>请将简历投递至hr@sctuhuan.com</p>
										
	                                    <a href="mailto:hr@sctuhuan.com" class="global-btn mtop40" style="width: 120px; height: 40px; line-height:40px;">申请职位</a>
	                                </div>
	                                <!--submenu结束-->
                            	</li>
                            	<li>
	                                <div class="link">
	                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
	                                        <div class="btn-group" role="group">
	                                            <span>电销专员</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	                                        </div>
	                                        <div class="btn-group tcenter" role="group">客服部</div>
	                                        <div class="btn-group tcenter" role="group">  四川成都</div>
	                                        <div class="btn-group tcenter" role="group">1</div>
	                                    </div>
	                                </div>
	                                 <!--link结束-->
	                                <div class="submenu" style="display: none;">
									
	                                    <p class="title">岗位职责</p>
	                                    <p>1.根据业务要求，完成电话的拨打；
	                                    	<br />2.与客户进行有效沟通并了解其需求，提供适当的健康管理咨询服务；
											<br />3.完成月度付费数据转化和业绩指标；
											<br />4.收集日常销售过程中，产品、客户等反馈信息；
											<br />5.协助配合销售团队，创造销售业绩；
											<br />6.完成上级领导临时安排的各项工作；
	                                    </p>
										
	                                    <p class="title">任职要求</p>
	                                    <p>1.大专及以上学历 2年以上工作经验
	                                    	<br />2.乐于从事电话销售岗位，善于学习和改变，有医疗行业相关销售经验、电销经验优先；
											<br />3.普通话标准，表达具有条理性，口齿伶俐；
											<br />4.善于挖掘客户潜在需求；
											<br />5.性格坚韧，思维敏捷，具备良好的应变能力和承压能力
	                                    </p>
										
	                                    <p class="title">优先条件</p>
	                                    <p>无</p>
										
										<p class="title">简历投递方式</p>
										<p>请将简历投递至hr@sctuhuan.com</p>
										
	                                    <a href="mailto:hr@sctuhuan.com" class="global-btn mtop40" style="width: 120px; height: 40px; line-height:40px;">申请职位</a>
	                                </div>
	                                <!--submenu结束-->
                          		</li>
                          		<li>
	                                <div class="link">
	                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
	                                        <div class="btn-group" role="group">
	                                            <span>大客户经理</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	                                        </div>
	                                        <div class="btn-group tcenter" role="group">客服部</div>
	                                        <div class="btn-group tcenter" role="group"> 四川成都</div>
	                                        <div class="btn-group tcenter" role="group">1</div>
	                                    </div>
	                                </div>
	                                 <!--link结束-->
	                                <div class="submenu" style="display: none;">
									
	                                    <p class="title">岗位职责</p>
	                                    <p>1、完成公司下达的季度、年度部门业绩指标，对客户满意度负责；
	                                    	<br />2、根据公司年度目标制定相应的销售策略及销售计划并执行、监督、辅导销售人员完成目标计划；
											<br />3、根据市场竞争状态，提出产品宣传、市场调研和市场开发计划，开展各项活动，做好市场分析、管理及促进销售；
											<br />4、负责制定并实施本部门的培训计划；
											<br />5、搭建大客户销售及管理体系。
	                                    </p>
										
	                                    <p class="title">任职要求</p>
	                                    <p>1、男身高175CM及以上，女身高160CM及以上，形象气质出众；
	                                    	<br />2、保险、金融、医疗健康等行业大客户销售及销售管理类工作经验优先；
											<br />3、工商管理、市场营销、医学类专业优先；
											<br />4、良好的沟通、协调、组织、经营管理能力。
	                                    </p>
										
	                                    <p class="title">优先条件</p>
	                                    <p>无</p>
										
										<p class="title">简历投递方式</p>
										<p>请将简历投递至hr@sctuhuan.com</p>
										
	                                    <a href="mailto:hr@sctuhuan.com" class="global-btn mtop40" style="width: 120px; height: 40px; line-height:40px;">申请职位</a>
	                                </div>
	                                <!--submenu结束-->
                            	</li>
                            	<li>
	                                <div class="link">
	                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
	                                        <div class="btn-group" role="group">
	                                            <span>UI设计师</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
	                                        </div>
	                                        <div class="btn-group tcenter" role="group">产品部</div>
	                                        <div class="btn-group tcenter" role="group">四川成都</div>
	                                        <div class="btn-group tcenter" role="group"> 1</div>
	                                    </div>
	                                </div>
	                                 <!--link结束-->
	                                <div class="submenu" style="display: none;">
									
	                                    <p class="title">岗位职责</p>
	                                    <p>1、参与公司后端产品、数据产品的整体视觉设计工作以及UI设计工作; 
	                                    	<br />2、根据对用户体验的理解和分析，以用户角度思考，提高移动端的可用性，继而优化设计; 
											<br />3、对产品结构、流程、功能、界面用户体验、交互功能等进行研究并提出改善方案; 
											<br />4、具备优秀的创意能力，根据客户需求，设计活动性质的创意交互HTML
											<br />5、视觉套图（日常传播包括静态套图、GIF动画套图两种类型）。对日常微信、微博运营等相关设计工作，提供视觉创意与设计支撑
	                                    </p>
										
	                                    <p class="title">任职要求</p>
	                                    <p>1、本科（二本）或以上学历，设计相关专业；精通Photoshop、CorelDraw、AI等设计软件； 
	                                    	<br />2、有1年以上互联网企业、电子商务公司等相关工作经验；
											<br />3、具备扎实的美术功底，对互联网视觉设计有独到的见解及品牌分析理解能力，能独立完成设计方案。
											<br />4、有较强的用户观念，在设计中能够充分考虑用户体验；有医疗健康类类网页或App设计经验者优先。
											<br />5、精通 Photoshop、illustrator等网站设计工具，掌握移动产品的设计规范和适配规则，熟练掌握切图标注等工作；
											<br />6、独立的个人见解，能够在不同的声音中坚持自我。良好的团队协作能力，了解前端工作，较好的沟通协调能力。
											<br />7. 此岗位需要提供设计作品。
	                                    </p>
										
	                                    <p class="title">优先条件</p>
	                                    <p>无</p>
										
										<p class="title">简历投递方式</p>
										<p>请将简历及相关作品统一投递至hr@sctuhuan.com</p>
										
	                                    <a href="mailto:hr@sctuhuan.com" class="global-btn mtop40" style="width: 120px; height: 40px; line-height:40px;">申请职位</a>
	                                </div>
	                                <!--submenu结束-->
                           		</li>
							</ul>
						</div>
						<!--tbody-->
					</div>
					<!--table结束-->
				</div>
				<!--row结束-->
			</div>
			<!--container结束-->
		</div>
		<!--global结束-->

		 <!-- footer begin -->
		<div style="margin-left: 0px;">
		<footer class="sho">
		    <div class="container">
		        <div class="row">
		            <div class="ac-gf-footer-legal">
		                <div class="footer-legal-links">
		                    <a href="company.html">公司动态</a>
		                    <div class="bor-line"></div>
		                    <a href="joinus.html">加入我们</a>
		                    <div class="bor-line"></div>
		                    <a href="customres.html">企业用户</a>
		                    <div class="bor-line"></div>
		                    <a href="useragreement.html">用户使用协议</a>
		                </div>
		                <div class="footer-beizhu">Copyright &copy; 2018 RNG组所有</div>
		            </div>
		            <div class="footer-weixin">
		                <div class="bt-example-popover">
		                    <div class="popover top">
		                        <div class="arrow"></div>
		                        <div style="padding: 7px">
		                            <figure class="erweima-logo-icon"></figure>
		                        </div>
		                    </div>
		                </div>
		                <figure class="weixin-logo-icon"></figure>
		            </div>
		            <div class="footer-weixin">
		                <div class="bt-example-popover">
		                    <div class="popover top">
		                        <div class="arrow"></div>
		                        <div style="padding: 7px">
		                            <figure class="erweimaapp-logo-icon"></figure>
		                        </div>
		                    </div>
		                </div>
		                <figure class="shouji-logo-icon"></figure>
		            </div>
		        </div>
		    </div>
		</footer>
		<!-- footer end -->
		
		<!-- 弹出微信框  -->
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		    <div class="modal-dialog modal-sm">
		        <div class="modal-content" style="height: 580px;">
		            <div style="width:580px; display: inline-block;">
		                <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		                </div>
		                <div class="modal-body">
		                    <figure class="pop-erweima">
		                        <img src="../assets/image/erweima-app.svg" width="300" height="300" style="padding: 20px; border: 1px solid rgba(170, 170, 170, 0.3);">
		                    </figure>
		                    <div class="pop-erweima-text">
		                        <p>请使用微信扫一扫</p>
		                        <p>下载“途欢健康”App注册登录</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="bg-div hide">
		
		</div>
		
	</body>

</html>